.white {
    background-color: #141414!important;
}

.card1 {
    margin-left: 15px;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.nom {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.ant-list-item.project-list-item:hover {
    background-color: #303030;
    border-radius: 4px;
}